<!-- <div *ngIf="childCake">
  <h1>{{childCake.bakerName}}</h1>
  <img src="{{childCake.cakeImage}}" alt="cake" class="img-thumbnail">
  <p>Average Rating: {{childCake.average}}</p>
  <p>{{childCake.comment}} </p>
</div> -->

<div *ngIf="childCake">
    <h1 class="mt-3">{{ childCake.bakerName }}</h1>
    <div class="row">
      <div class="col-6 ">
        <img src="{{childCake.cakeImage}}" alt="cake" class="img-thumbnail">
      </div>
      <div class="col-6 ">
          <!-- data['data'].reviews.length -->
        <h4 class="mt-2 mb-4" *ngIf="childCake.reviews.length">Average rating: {{childCake.average}} stars</h4>
        <div *ngFor="let review of childCake.reviews ">
          <h5>{{ review.comment }}</h5>
          <p>{{ review.rating }} stars</p>
        </div>
  
      </div>
    </div>
  </div>